<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
@{ string msg = "";}
<head runat="server">
    <title>Update Members</title>
    <link rel=”apple-touch-icon” href=”/apple-touch-icon.png” />
    <!--<link rel=”apple-touch-icon-precomposed” href=”/apple-touch-icon.png”/>-->
    <link rel=”icon” href=”/apple-touch-icon.png” />
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="FhStyle.css">
</head>
<body id="background">
    <form id="form1" runat="server" method="post">
        @using System.Data.SqlClient;
        @using System.Data;
        @using FHWebsite;
        @{
            string[] dataColumns = { "ID", "FirstName", "LastName", "OutOfHouse" };
            SqlDbType[] dataTypes = { SqlDbType.Int, SqlDbType.NChar, SqlDbType.NChar, SqlDbType.Bit };
            string[] userInputs = new string[4];
            string connection = System.Configuration.ConfigurationManager.ConnectionStrings["FHConnectionString"].ConnectionString;
            bool isValidId;

            if (IsPost)
            {
                // Get user inputs
                for (int i = 0; i < dataColumns.Length; i++)
                {
                    userInputs[i] = Request.Form[dataColumns[i]];
                }

                if (userInputs[3] == "on")
                {
                    userInputs[3] = "true";
                }
                else
                {
                    userInputs[3] = "false";
                }

                // Check if the entered ID is valid
                isValidId = ((int)SqlTools.ExecuteScalar(connection, "SELECT COUNT(*) FROM [FH].[dbo].[Members] WHERE [ID] = @ID", new string[] { "@ID" }, new SqlDbType[] { SqlDbType.Int }, new string[] { userInputs[0] }) > 0);

                string insertCommand = @"UPDATE[dbo].[Members]
                                         SET [FirstName] = ISNULL(NULLIF(@FirstName,''),  FirstName),
                                             [LastName] = ISNULL(NULLIF(@LastName,''),  LastName),
                                             [OutOfHouse] = @OutOfHouse
                                         WHERE [ID] = @ID";

                // Provide output message
                if (isValidId)
                {
                    if (SqlTools.ExecuteNonQuery(connection, insertCommand, dataColumns, dataTypes, userInputs) > 0)
                    {
                        msg = "<h3 class=\"message\">Entry submitted</h3>";
                    }
                    else
                    {
                        msg = "<h3 class=\"message\">Something went wrong</h3>";
                    }
                }
                else
                {
                    msg = "<h3 class=\"message\">" + userInputs[0] + " is not a current User ID.</h3>";
                }

            }
        }
        <!--Navigation Bar-->
        @Html.Raw(File.ReadAllText(Server.MapPath("Header.html")))
        @Html.Raw(File.ReadAllText(Server.MapPath("AddPagesHeader.html")))
        <div class="box">
            <h1>Update Members</h1>
            @{WriteLiteral(msg);}
            <p>
                User ID:&nbsp;<input type="text" name="id" size="2" />
            </p>
            <p>
                First Name:&nbsp;<input type="text" name="firstName" size="15" />
            </p>
            <p>
                Last Name:&nbsp;<input type="text" name="lastName" size="15" />
            </p>
            <p>
                Out of House:&nbsp;<input type="checkbox" name="outOfHouse" />
            </p>
            <input type="submit" name="submit" value="Submit" />
        </div>
    </form>
</body>
</html>
